<!DOCTYPE html>
<html style="font-size: 16px;" lang="tr"><head>
    <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="Alper Be​şli​​​">
    <meta name="description" content="">
    <title>Hakkımda</title>
    <link rel="stylesheet" href="/static/stylesheets/nicepage.css" media="screen">
    <link rel="stylesheet" href="/static/stylesheets/Hakkimda.css" media="screen">
    <link id="u-theme-google-font" rel="stylesheet" href="/static/stylesheets/googleapi1.css">
    <script class="u-script" type="text/javascript" src="/static/javascripts/jquery.js" defer></script>
    <script class="u-script" type="text/javascript" src="/static/javascripts/nicepage.js" defer></script>
    <meta name="generator" content="Nicepage 4.16.0, nicepage.com">
    
    
    <script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": "",
		"logo": "/static/images/Dragon-logo-symbol-on-transparent-background-PNG.png"
}</script>
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Hakkımda">
    <meta property="og:type" content="website">
  </head>
  <body class="u-body u-xl-mode" data-lang="tr"><header class="u-clearfix u-grey-90 u-header u-header" id="sec-405b"><div class="u-clearfix u-sheet u-sheet-1">
        <a href="https://nicepage.com" class="u-image u-logo u-image-1" data-image-width="4000" data-image-height="4000">
          <img src="/static/images/Dragon-logo-symbol-on-transparent-background-PNG.png" class="u-logo-image u-logo-image-1">
        </a>
        <nav class="u-menu u-menu-one-level u-offcanvas u-menu-1">
          <div class="menu-collapse" style="font-size: 1.5rem; letter-spacing: 0px; font-weight: 700; text-transform: uppercase;">
            <a class="u-button-style u-custom-active-border-color u-custom-active-color u-custom-border u-custom-border-color u-custom-borders u-custom-hover-border-color u-custom-hover-color u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-text-active-color u-custom-text-color u-custom-text-hover-color u-custom-text-shadow u-custom-text-shadow-blur u-custom-text-shadow-color u-custom-text-shadow-transparency u-custom-text-shadow-x u-custom-text-shadow-y u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="#">
              <svg class="u-svg-link" viewBox="0 0 24 24"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu-hamburger"></use></svg>
              <svg class="u-svg-content" version="1.1" id="menu-hamburger" viewBox="0 0 16 16" x="0px" y="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg"><g><rect y="1" width="16" height="2"></rect><rect y="7" width="16" height="2"></rect><rect y="13" width="16" height="2"></rect>
</g></svg>
            </a>
          </div>
          <div class="u-custom-menu u-nav-container">
            <ul class="u-nav u-spacing-30 u-unstyled u-nav-1"><li class="u-nav-item"><a class="u-border-2 u-border-active-custom-color-1 u-border-hover-palette-3-light-1 u-border-no-left u-border-no-right u-border-no-top u-button-style u-nav-link u-text-active-custom-color-1 u-text-hover-palette-3-light-1 u-text-white" href="Ana-Sayfa" style="padding: 8px 22px;">Ana Sayfa</a>
</li><li class="u-nav-item"><a class="u-border-2 u-border-active-custom-color-1 u-border-hover-palette-3-light-1 u-border-no-left u-border-no-right u-border-no-top u-button-style u-nav-link u-text-active-custom-color-1 u-text-hover-palette-3-light-1 u-text-white" href="Hakkimda" style="padding: 8px 22px;">Hakkımda</a>
</li><li class="u-nav-item"><a class="u-border-2 u-border-active-custom-color-1 u-border-hover-palette-3-light-1 u-border-no-left u-border-no-right u-border-no-top u-button-style u-nav-link u-text-active-custom-color-1 u-text-hover-palette-3-light-1 u-text-white" href="Iletisim" style="padding: 8px 22px;">İletişim</a>
</li><li class="u-nav-item"><a class="u-border-2 u-border-active-custom-color-1 u-border-hover-palette-3-light-1 u-border-no-left u-border-no-right u-border-no-top u-button-style u-nav-link u-text-active-custom-color-1 u-text-hover-palette-3-light-1 u-text-white" href="login" style="padding: 8px 22px;">Giriş Yap</a>
</li></ul>
          </div>
          <div class="u-custom-menu u-nav-container-collapse">
            <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
              <div class="u-inner-container-layout u-sidenav-overflow">
                <div class="u-menu-close"></div>
                <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2"><li class="u-nav-item"><a class="u-button-style u-nav-link" href="Ana-Sayfa">Ana Sayfa</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="Hakkimda">Hakkımda</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="Iletisim">İletişim</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="login">Giriş Yap</a>
</li></ul>
              </div>
            </div>
            <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
          </div>
        </nav>
        <h1 class="u-custom-font u-font-georgia u-text u-text-grey-30 u-title u-text-1" data-animation-name="customAnimationIn" data-animation-duration="2000" data-animation-delay="0">Alper Be​şli </h1>
      </div></header>
    <section class="u-clearfix u-section-1" id="sec-d0bb">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-clearfix u-expanded-width u-gutter-0 u-layout-spacing-vertical u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row">
              <div class="u-size-11-lg u-size-11-xl u-size-19-sm u-size-19-xs u-size-60-md">
                <div class="u-layout-row">
                  <div class="u-container-style u-expand-resize u-layout-cell u-left-cell u-size-60 u-layout-cell-1" src="">
                    <div class="u-container-layout u-valign-top u-container-layout-1">
                      <img class="u-image u-image-1" data-image-width="170" data-image-height="227" src="/static/images/index.jpg">
                    </div>
                  </div>
                </div>
              </div>
              <div class="u-size-41-sm u-size-41-xs u-size-49-lg u-size-49-xl u-size-60-md">
                <div class="u-layout-col">
                  <div class="u-size-40">
                    <div class="u-layout-row">
                      <div class="u-align-left u-container-style u-layout-cell u-right-cell u-size-60 u-layout-cell-2">
                        <div class="u-container-layout u-container-layout-2">
                          <h3 class="u-text u-text-1">
                            <span style="font-size: 3rem;">Hakkımda</span>
                            <br>
                            <br>
                          </h3>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="u-size-20">
                    <div class="u-layout-row">
                      <div class="u-align-left u-container-style u-layout-cell u-size-60 u-layout-cell-3">
                        <div class="u-container-layout u-valign-top u-container-layout-3">
                          <p class="u-text u-text-2">
                            <span style="font-size: 1.25rem;">Eğitim </span>
                            <br>2015 – 2019           Şahinler Anadolu Lisesi&nbsp;<br>
                            <br>2019 – Devam        Üsküdar Üniversitesi, Mühendislik ve Doğa Bilimleri Fakültesi Yazılım Mühendisliği <br> (Beklenen mezuniyet tarihi Haziran 2024) <br>
                            <br>
                            <span style="font-size: 1.25rem;">Beceriler </span>
                            <br>&nbsp; &nbsp; &nbsp;Bilgisayar Becerileri: İleri seviye Windows işletim sistemi, Linux tabanlı işletim sistemleri, C, Java ,Python yazılım dilleri, Linux dağıtımındaki güvenlik araçlarının kullanımı, Network, Microsoft Ofis Programları&nbsp;<br>
                            <br>Yabancı Dil Becerileri:&nbsp; İngilizce (İleri seviye okuma ve yazma, orta seviye konuşma) <br>
                            <br>
                            <span style="font-size: 1.25rem;">İlgi alanları </span>
                            <br>&nbsp; &nbsp; &nbsp;2016’dan bu yana, Siber Güvenlik, Kablosuz Ağ güvenliği, Network, RF mimarileri ve çalışma prensipleri, Telekomünikasyon ve iletişim, Kamera Sistemleri, Kriptoloji ve Adli Bilişimle ilgili araştırmalar yapıyor ve uğraşıyorum. <br>
                            <br>
                            <span style="font-size: 1.25rem;">Sertifikalar&nbsp;</span>
                            <br>
                            <br>19 Ekim 2019     İstanbul Kişisel Gelişimi Zirvesi, “Başarı Adımları”  Fırat Çakır <br>&nbsp; &nbsp; &nbsp;«2 saat süren Başarı Adımları Sertifika programı <br>19 Ekim 2019       İstanbul Kişisel Gelişimi Zirvesi, “Yetenek, Başarı, Beyin” Doç. Dr. Oytun Erbaş <br>&nbsp; &nbsp; &nbsp;«2 saat süren Başarı Adımları Sertifika programı&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<br>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    
 
</body></html>