<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='/stylesheets/login.css' />
</head>
<body>
    <div id="title"><h2>Log in </h2></div>
    
  <div class="login-form">
    <form>
      <label for="username">Username:</label><br>
      <input type="text" id="username" name="username"><br>
      <label for="password">Password:</label><br>
      <input type="password" id="password" name="password"><br><br>
      <button type="submit">Login</button>
    </form> 
  </div>

  <script src="../public/javascripts/login.js">
    
  </script>
</body>
</html>
